.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 610px) {
    justify-content: center; 
  }

  &::after {
    content: '';
    width: 270px;
  }
}